.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search{
  background-color: rgba(67, 121, 238, 1);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 15px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.head button {
  background-color: rgba(67, 121, 238, 1);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 15px;
  font-size: 1em;
  cursor: pointer;
}
.filter {
  border-radius: 15px;
  background-color: rgba(249, 249, 251, 1);
}
.filter table {
  border-collapse: separate; /* Ensure borders don't collapse */
  border-spacing: 0; /* Optional: Remove any spacing between cells */
  font-weight: bold;
}
.filter table td {
  // border: 1px solid rgba(185, 185, 185, 0.5);
  text-align: center;
}
.resetfilter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: red;
  cursor: pointer;
}
.filtervalues {
  background-color: aqua;
  margin-left: 20vw;
  position: absolute;
  display: grid;
  place-items: center;
}
.values {
  box-shadow: 0px 12px 60px rgba(169, 169, 169, 0.366);
  background-color: white;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
gap: 7px;
}
.values .unselected{
border: none;
background-color: white;
border-radius: 20px;
border: 1px solid black;
padding: 5px 10px;
cursor: pointer;
}
.values .selected{
  border: 1px solid rgba(72, 128, 255, 1) ;
  border-radius: 20px;
  background-color:rgba(72, 128, 255, 1) ;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.Assigned {
  width: 45%;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgba(255, 167, 86, 1);
  background-color: rgba(255, 167, 86, 0.2);
}
.Retired {
  width: 45%;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgba(239, 56, 38, 1);
  background-color: rgba(239, 56, 38, 0.2);
}
.UnderMaintenance {
  width: 45%;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgba(186, 41, 255, 1);
  background-color: rgba(186, 41, 255, 0.2);
}
.Returned {
}
.Available {
  width: 45%;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgba(0, 182, 155, 1);
  background-color: rgba(0, 182, 155, 0.2);
}
.container table.list thead {
  background-color: rgba(241, 244, 249, 1);
  font-weight: bold;
}
.container table.list tr:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}
