<div class="head" (click)="hidefilter($event)">
    <h1>Assets list</h1>
    <button routerLink="create">Add New Asset</button>
</div>
    <div class="filter"  (click)="hidefilter($event)">
        <table>
            <thead>
                <th>
                    <img src="filter.svg" />
                </th>
                <th>
                    filter BY
                </th>
                <th (click)="setfilter('Category',$event)" style="cursor: pointer;">
                    Category
                </th>
                <th (click)="setfilter('Status',$event)" style="cursor: pointer;">
                    Asset Status
                </th>
                <th (click)="resetfilter($event)" style="cursor: pointer;">
                    <div class="resetfilter">
                        <i class="fa-solid fa-rotate-right"></i>
                        <p>Reset Filter</p>
                    </div>
                </th>
            </thead>
        </table>
    </div>
    <div class="container" (click)="hidefilter($event)">
    <div class="filtervalues" *ngIf="isshowfilter" (click)="stophide($event)">

        <div class="values">

        @if(this.setfiltervalue=='Status'){
           @for (s of status; track $index) {
            @if (filter.includes(s)) {
                <button (click)="toogle(s)" class="selected" >
                    {{s}}
                </button>
            }@else {
        <button class="unselected" (click)="toogle(s)" >
            {{s}}
        </button>
    }
    }
        }@else if (this.setfiltervalue=='Category') {

            @for (c of categories; track $index) {

                @if (filter.includes(c.categoryName)) {
                    <button (click)="toogle(c.categoryName)" class="selected" >
                        {{c.categoryName}}
                    </button>
                }@else {
            <button class="unselected" (click)="toogle(c.categoryName)" >
                {{c.categoryName}}
            </button>
        }
        <!-- <button  *ngFor="let c of categories" (click)="toogle(c.categoryName)" appToggleStyle>
            {{c.categoryName}}
        </button> -->
        }
    }
    </div>

    </div>












    <table class="list">
        <thead>
            <th>
                Asset ID
            </th>
            <th>
                Asset Name
            </th>
            <th>
                Category
            </th>
            <th style="text-align: center;">
                Status
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let a of filteredasset" (click)="assetdetail(a.id)">
                <td>
                    {{a.id}}
                </td>
                <td>
                    {{a.assetName}}
                </td>
                <td>
                    {{a.assetCategoryData}}
                </td>
                <td style="display: flex; justify-content: center;">
                    @switch (a.assetStatusData) {
                    @case ('Assigned') { <div class="Assigned">{{a.assetStatusData}}</div> }
                    @case ('Retired') { <div class="Retired">{{a.assetStatusData}}</div> }
                    @case ('UnderMaintenance') { <div class="UnderMaintenance">{{a.assetStatusData}}</div> }
                    @case ('Returned') { <div class="Returned">{{a.assetStatusData}}</div> }
                    @default { <div class="Available">{{a.assetStatusData}}</div> }
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>