<div class="sidebar">
  <div class="head">
    <h2>Your <span class="title">Asset Manager</span>
    </h2>
    <!-- <span class="subtitle">Your Asset Manager</span> -->
  </div>
  <div class="navigation">
    <ul>
      @for (m of filteredMenu; track $index) {
      <li routerLinkActive="active-li"><a [routerLink]="m.path" routerLinkActive="active-link"><i
        [class]="m.icon"></i> {{m.label}}</a></li>
      }
      <!-- <li routerLinkActive="active-li"><a routerLink="/dashboard/home" routerLinkActive="active-link"><i
            class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      <li routerLinkActive="active-li"><a routerLink="user" routerLinkActive="active-link"><i class="fas fa-users"></i>
          Users</a></li>
      <li routerLinkActive="active-li"><a routerLink="asset" routerLinkActive="active-link"><i
            class="fas fa-basket-shopping"></i>
          Asset</a></li>
      <li routerLinkActive="active-li"><a routerLink="category" routerLinkActive="active-link"><i
            class="fas fa-box"></i>
          Category</a></li>
      <li routerLinkActive="active-li"><a routerLink="type" routerLinkActive="active-link"><i
            class="fa-solid fa-table-list"></i>
          Type</a></li>
      <li routerLinkActive="active-li"><a routerLink="vendor" routerLinkActive="active-link"><i
            class="fas fa-truck"></i>
          Vendor</a></li>

      <li routerLinkActive="active-li"><a routerLink="profile" routerLinkActive="active-link"><i
            class="fas fa-user"></i>
          Profile</a></li> -->
    </ul>
  </div>
</div>









<!-- 
<li routerLinkActive="active-li"><a routerLink="history" routerLinkActive="active-link"><i
  class="fas fa-history"></i> History</a></li> -->