<div class="sidebar">
  <div class="head">
    <h2>Your <span class="title">Asset Manager</span>
    </h2>
    <!-- <span class="subtitle">Your Asset Manager</span> -->
  </div>
  <div class="navigation">
    <ul>
      <li routerLinkActive="active-li"><a routerLink="/dashboard/home" routerLinkActive="active-link"><i
            class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      <li routerLinkActive="active-li"><a routerLink="asset" routerLinkActive="active-link"><i class="fas fa-box"></i>
          Asset</a></li>
          <li routerLinkActive="active-li"><a routerLink="category" routerLinkActive="active-link"><i class="fas fa-box"></i>
            Category</a></li>
      <li routerLinkActive="active-li"><a routerLink="user" routerLinkActive="active-link"><i class="fas fa-users"></i>
          Users</a></li>
      <li routerLinkActive="active-li"><a routerLink="history" routerLinkActive="active-link"><i
            class="fas fa-history"></i> History</a></li>
      <li routerLinkActive="active-li"><a routerLink="setting" routerLinkActive="active-link"><i class="fas fa-cog"></i>
          Setting</a></li>
    </ul>
  </div>
</div>