.sidebar {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(32, 34, 36, 1);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .sidebar .head {
    text-align: center;
    margin-top:15px 
     }
  
  .sidebar .head h2 {
    // margin: 0;
    font-size:medium;
  }
  .title{
    color: rgba(72, 128, 255, 1);
  }
  .sidebar .subtitle {
    color: rgba(72, 128, 255, 1);
    font-size: 0.75rem;
  }
  
  .navigation {
    margin-top: 20px;
  }
  .sidebar .navigation ul {
    list-style: none;
    padding: 0;
  }
  .sidebar .navigation i {
    margin-right: 10px;
  }
  .sidebar .navigation li {
    padding: 5px 20px;
  }
  
  .sidebar .navigation a {
    color: rgba(32, 34, 36, 1);
    text-decoration: none;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .sidebar .navigation a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  .sidebar .navigation a.active-link {
      background-color: rgba(72, 128, 255, 1);
      border-radius:5px ;
      color: white;
    }.active-li{
      border-left: 5px solid rgba(72, 128, 255, 1);
    }
    .active-link i{
      color: white;
    }
 
  
  @media (max-width: 768px) {
    .Main {
      grid-template-columns: 1fr;
    }
  
    .sidebar {
      height: auto;
      width: 100%;
    }
  
    .dashboard {
      padding: 10px;
    }
  }
  