.employeelist {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: center;
}

.profilepic{
  display: grid;
  place-items: center;
}

.emaployeecard {
  width: 125px;
  background: white;
  background-image: url('../../../../../../../public/Pattern.svg');
  background-size: cover;
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 6px 6px 54px 34px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  margin-bottom: 5px;
}
.ptofilepic img {
  object-fit: cover;
  border-radius: 50%;
  width: 140px;
  aspect-ratio: 1/1;

}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    .roles{
      text-align: center;
      font-size: 0.5rem;
      line-height: 1rem;
      color: rgba(32, 34, 36, 0.5);
      font-weight: 100;
    }
    .email {
      text-align: center;
      font-size: 0.5rem;
      line-height: 1.75rem;
      color: rgba(32, 34, 36, 0.5);
      font-weight: 300;
    }
  }
}

.loader {
  width: 215px;
  height: 215px;
  padding: 40px 60px;
  display: block;
  margin: auto;
  border-radius: 15px;

  position: relative;
  background: #FFF;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
   radial-gradient(circle 50px , #DDD 100%, transparent 0),
   linear-gradient(#DDD 16px, transparent 0),
   linear-gradient(#DDD 24px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 80% 16px, 80% 16px;
  background-position: -185px 0, center 10px, center 125px, center 155px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 185px 0, center 10px, center 125px, center 155px;
  }
}
  