.employeelist {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.emaployeecard {
  width: 125px;
  background: white;
  background-image: url('../../../../../../../public/Pattern.svg');
  background-size: cover;
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 6px 6px 54px 34px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  .ptofilepic img {
    aspect-ratio: 1;
    border-radius: 50%;
    max-width: 100px;
    object-fit: cover;

  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin: 10px 0;
      padding: 0;
      text-align: center;
      .roles{
        text-align: center;
        font-size: 0.5rem;
        line-height: 1rem;
        color: rgba(32, 34, 36, 0.5);
        font-weight: 100;
      }
      .email {
        text-align: center;
        font-size: 0.5rem;
        line-height: 1.75rem;
        color: rgba(32, 34, 36, 0.5);
        font-weight: 300;
      }
    }
  }
}