    <h1>Dashboard</h1>


<div class="dashboard-container">
    <div class="chart-container">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="assetCategoryData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Category"
        yAxisLabel="Number of Assets">
      </ngx-charts-bar-vertical>
    </div>
    
    <div class="chart-container">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="assetstatus"
        [legend]="true"
        [doughnut]="true"
        [labels]="true"
        [tooltipDisabled]="false">
      </ngx-charts-pie-chart>
    </div>
  </div>
  

  <div style="display: block;">
    <!-- <canvas baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [colors]="chartColors"
      [legend]="chartLegend"
      [chartType]="chartType"
      [plugins]="chartPlugins">
    </canvas> -->
  </div>
