<div class="assigningdetail" *ngIf="isaction" (click)="toogleaction('')">
    <div class="detail" (click)="stoppropagation($event)">
        @if (selectaction=='checkout') {
        <h1> Assigning Details</h1>
        <table>
            <tr>
                <td>
                    User Name
                </td>
                <td>
                    <input list="allusers" id="user" name="user" (change)="onUserChange($event)"
                        (input)="onUserInput($event)" placeholder="Type to search User..">
                    <datalist id="allusers">
                        <option [value]="a.userName" *ngFor="let a of allusers">
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>
                    Request ID
                </td>
                <input name="notes" id="notes" [(ngModel)]="requestId" />
            </tr>
            <tr>
                <td>
                    Notes
                </td>
                <input type="text" name="notes" id="notes" [(ngModel)]="notes" />
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="assign" (click)="assignasset($event)">Assign Asset</button>
                </td>
            </tr>
        </table>
        }@else if (selectaction=='checkin') {
        <h1> Return Details</h1>
        <table>
            <tr>
                <td>
                    Return Condition
                </td>
                <td>
                    <input name="returncondition" id="returncondition" [(ngModel)]="returncondition"/>
                </td>
            </tr>
            <tr>
                <td>
                    Notes
                </td>
                <td>
                    <textarea name="notes" id="notes" [(ngModel)]="notes"></textarea>

                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button (click)="returnasset($event)">Check in</button>
                </td>
            </tr>
        </table>
        }@else if (selectaction=='retire') {
            <h1>Retire Asset Detail</h1>
            <table>
                <tr>
                    <td>
                        Description
                    </td>
                    <td>
                        <input type="text" name="" id="" [(ngModel)]="notes" >
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button (click)="retireasset()">Retire asset</button>
                    </td>
                </tr>
            </table>
        }@else if (selectaction=='senttoUnderMaintenance') {
            <h1>Sent for maintainance</h1>
            <table>
                <tr>
                    <td>
                        Description
                    </td>
                    <td>
                        <input type="text" name="" id="" [(ngModel)]="notes" >
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button (click)='sendforMaintainance()'>Send for maintainance</button>
                    </td>
                </tr>
            </table>
        }
        @else if (selectaction=='returfromundermaintainance') {
            <h1>return from maintainance</h1>
            <table>
                <tr>
                    <td>
                        Description
                    </td>
                    <td>
                        <input type="text" name="" id="" [(ngModel)]="notes" >
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button (click)="returnfrommaintainance()">Reurn From maintainance</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>


<div class="container">
    <div class="head">
        <div class="left">
            <h1>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.assetName }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-title"></div>
                </ng-template>
            </h1>

            <div class="detail">
                <div class="description">
                    <p *ngIf="!isLoading; else loading">
                        {{ assetdetail.description }}
                    </p>
                    <ng-template #loading>
                        <div class="skeleton skeleton-text"></div>
                    </ng-template>


                    <div class="action">
                        <button *ngIf="!isLoading" (click)="updateasset(id)">Update</button>
                        <button *ngIf="!isLoading" (click)="deleteasset(id)">Delete</button>
                    </div>

                </div>


            </div>
        </div>
        <div class="right">
            <div class="link">
                <span *ngIf="!isLoading; else loading" [class]="assetdetail.assetStatusData">
                    {{ assetdetail.assetStatusData }}
                </span>
                <ng-template #loading>
                    <div class="skeleton skeleton-status"></div>
                </ng-template>
                @if(assetdetail.assetStatusData!=undefined){
                @switch (assetdetail.assetStatusData) {
                @case ('Available') {
                <button *ngIf="!isLoading" (click)="toogleaction('checkout')">Check out</button>
                <button *ngIf="!isLoading" (click)="toogleaction('retire')">Retire</button>
                <button *ngIf="!isLoading" (click)="toogleaction('senttoUnderMaintenance')">Under Maintenance</button>
                }
                @case ('Assigned') {
                <button *ngIf="!isLoading" (click)="toogleaction('checkin')">Check in</button>
                }@case ('UnderMaintenance') {
                <button *ngIf="!isLoading" (click)="toogleaction('returfromundermaintainance')">Mark as Available</button>
                }
                }
                }
            </div>
        </div>
    </div>



</div>

<h2>Basic Information</h2>
<div class="container">
    <table>
        <tr>
            <td>Identification Number</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.assetIdentificationNumber }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Serial Number</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.serialNumber }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>Asset Type</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.assetTypeData }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Category</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.assetCategoryData }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.manufacturer }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Model</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.model }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>Created Date</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.createdDate }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Updated Date</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.updatedDate }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
    </table>
</div>

<h2>Category Relevant Information</h2>
<div class="container">
    <table>
        @for (item of relevatcategoriesinput; track $index) {

        <tr>
            <td>{{item.name}}</td>
            <td>{{item.value}}</td>
            <!-- @if ($index%2==0) {
    <ng-container [innerHTML]="leftcolumn"></ng-container>
}@else{
    {{rightcolumn}}
} -->
        </tr>

        }
        <!-- <tr *ngFor="let r of relevatcategoriesinput; let i = index;">
      <td>{{ r.name }}</td>
      <td>
        <span *ngIf="!isLoading; else loading">{{ r.value }}</span>
        <ng-template #loading>
          <div class="skeleton skeleton-text"></div>
        </ng-template>
      </td>
      <td *ngIf="i % 2 === 1">
        <span *ngIf="!isLoading; else loading">{{ r.name }}</span>
        <ng-template #loading>
          <div class="skeleton skeleton-text"></div>
        </ng-template>
      </td>
      <td *ngIf="i % 2 === 1">
        <span *ngIf="!isLoading; else loading">{{ r.value }}</span>
        <ng-template #loading>
          <div class="skeleton skeleton-text"></div>
        </ng-template>
      </td>
    </tr> -->
    </table>
</div>


<h2>Buying Details</h2>
<div class="container">
    <table>
        <tr>
            <td>Vendor Name</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.vendorData }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Purchase Price</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.purchasePrice }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>Purchase Date</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.purchaseDate }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
    </table>
</div>