<div class="container">
    <div class="head">
        <div class="left">
            <h1>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.assetName }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-title"></div>
                </ng-template>
            </h1>

            <div class="detail">
                <div class="description">
                    <p *ngIf="!isLoading; else loading">
                        {{ assetdetail.description }}
                    </p>
                    <ng-template #loading>
                        <div class="skeleton skeleton-text"></div>
                    </ng-template>

                    
                    <div class="action">
                      
                        <button *ngIf="!isLoading" (click)="updateasset(id)">Update</button>
                        <button *ngIf="!isLoading" (click)="deleteasset(id)">Delete</button>
                    </div>

                </div>


            </div>
        </div>
        <div class="right">
            <div class="link">
                <span *ngIf="!isLoading; else loading" [class]="assetdetail.assetStatusData">
                    {{ assetdetail.assetStatusData }}
                </span>
                <ng-template #loading>
                    <div class="skeleton skeleton-status"></div>
                </ng-template>
                @if(assetdetail.assetStatusData!=undefined){
                @switch (assetdetail.assetStatusData) {
                @case ('Available') {
                <button *ngIf="!isLoading">Check out</button>
                <button *ngIf="!isLoading">Retire</button>
                <button *ngIf="!isLoading">Under Maintenance</button>
                }
                @case ('Assigned') {
                <button *ngIf="!isLoading">Check in</button>
                }@case ('UnderMaintenance') {
                <button *ngIf="!isLoading">Available</button>
                }
                }
                }
            </div>
        </div>
    </div>



</div>

<h2>Basic Information</h2>
<div class="container">
    <table>
        <tr>
            <td>Identification Number</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.assetIdentificationNumber }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Serial Number</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.serialNumber }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>Asset Type</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.assetTypeData }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Category</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.assetCategoryData }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.manufacturer }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Model</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.model }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>Created Date</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.createdDate }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Updated Date</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.updatedDate }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
    </table>
</div>

<h2>Category Relevant Information</h2>
<div class="container">
    <table>
        @for (item of relevatcategoriesinput; track $index) {

        <tr>
            <td>{{item.name}}</td>
            <td>{{item.value}}</td>
            <!-- @if ($index%2==0) {
    <ng-container [innerHTML]="leftcolumn"></ng-container>
}@else{
    {{rightcolumn}}
} -->
        </tr>

        }
        <!-- <tr *ngFor="let r of relevatcategoriesinput; let i = index;">
      <td>{{ r.name }}</td>
      <td>
        <span *ngIf="!isLoading; else loading">{{ r.value }}</span>
        <ng-template #loading>
          <div class="skeleton skeleton-text"></div>
        </ng-template>
      </td>
      <td *ngIf="i % 2 === 1">
        <span *ngIf="!isLoading; else loading">{{ r.name }}</span>
        <ng-template #loading>
          <div class="skeleton skeleton-text"></div>
        </ng-template>
      </td>
      <td *ngIf="i % 2 === 1">
        <span *ngIf="!isLoading; else loading">{{ r.value }}</span>
        <ng-template #loading>
          <div class="skeleton skeleton-text"></div>
        </ng-template>
      </td>
    </tr> -->
    </table>
</div>


<h2>Buying Details</h2>
<div class="container">
    <table>
        <tr>
            <td>Vendor Name</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.vendorData }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
            <td>Purchase Price</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.purchasePrice }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>Purchase Date</td>
            <td>
                <span *ngIf="!isLoading; else loading">{{ assetdetail.purchaseDate }}</span>
                <ng-template #loading>
                    <div class="skeleton skeleton-text"></div>
                </ng-template>
            </td>
        </tr>
    </table>
</div>