.assigningdetail{
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
place-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
}
.assigningdetail .detail{
  width: 50%;
  border-radius: 10px;
  background-color: white;
  padding: 5% 10%;
}
.assign{
  border: none;
  background-color: rgba(72, 128, 255, 1);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
.Assigned{
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgba(255, 167, 86, 1);
    background-color: rgba(255, 167, 86, 0.2);
  }
  .Retired{
  text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgba(239, 56, 38, 1);
    background-color: rgba(239, 56, 38, 0.2);
  }
  .UnderMaintenance{
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgba(186, 41, 255, 1);
    background-color: rgba(186, 41, 255, 0.2);
  }
  .Returned{
    
  }
  .Available{
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgba(0, 182, 155, 1);
  background-color: rgba(0, 182, 155, 0.2);
  }
  .link {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .link button,.action button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    background-color: rgba(72, 128, 255, 0.2);
    color: rgba(72, 128, 255, 1);
  }
  .link button:nth-child(2),  .action button:nth-child(1){
    border: none;
    background-color: rgba(72, 128, 255, 1);
    color: white;
  }
  .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .action{
    display: flex;
    gap: 10px;

  }.action button:last-child{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
  }
  .description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  .description p{
    word-wrap:normal;
    text-wrap:balance;
    // width: 50%;
    // overflow:scroll;
  }
  tr td:nth-child(odd){
    font-weight: bold;
  }

  .skeleton {
    background-color: #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.skeleton-title {
    width: 50%;
    height: 24px;
}

.skeleton-text {
    width: 100%;
    height: 16px;
}

.skeleton-status {
    width: 100px;
    height: 20px;
}

.container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 8px;
    // border: 1px solid #ccc;
}
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #5380ff;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #5380ff;
  box-shadow: 30px 0 0 #fff;
}
.alert{
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #5380ff;
  }
  50% {
    box-shadow: 0 0 0 #5380ff;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #5380ff;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
