<h1>Add Asset Details</h1>
<div class="container">
    <form [formGroup]="AssetDTO">
        <table>
            <tr>
                <td>
                    <label for="AssetName">Asset Name:</label>
                </td>
                <td>
                    <input type="text" id="AssetName" name="AssetName" formControlName="AssetName" />
                </td>
                <td> <label for="SerialNumber">Serial Number:</label>
                </td>
                <td> <input type="text" id="SerialNumber" name="SerialNumber" formControlName="SerialNumber"/></td>
                <td>
                    <label for="AssetIdentificationNumber">Identification Number:</label>
                </td>
                <td> <input type="text" id="AssetIdentificationNumber" name="AssetIdentificationNumber" formControlName="AssetIdentificationNumber" />
                </td>
            </tr>
            <tr>
                
                <td> <label for="Manufacturer">Manufacturer:</label>
                </td>
                <td> <input type="text" id="Manufacturer" name="Manufacturer" formControlName="Manufacturer"/></td>
                <td>
                    <label for="Model">Model Name:</label>
                </td>
                <td> <input type="text" id="Model" name="Model" formControlName="Model" />
                </td>
                <td>
                    <label for="vendor">Vendor:</label>
                </td>
                <td> <select id="VendorId" name="VendorId" (change)="setvendor($event)" >
                        <option  value="-1" selected>Select Vendor</option>
                        <option [value]="v.id" *ngFor="let v of vendors; let i = index">{{v.name}}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td> <label for="purchaseprice">Purchase Price(Rs):</label>
                </td>
                <td> <input type="number" id="purchaseprice" name="purchaseprice" min="1" formControlName="PurchasePrice"/></td>
                <td>
                    <label for="purchasedate">Purchase Date:</label>
                </td>
                <td> <input type="date" id="purchasedate" name="purchasedate" formControlName="PurchaseDate" />
                </td>
                <td>
                    <label for="assetCategory">Category:</label>
                </td>
                <td> <select id="assetCategory" name="assetCategory" (change)="showcolumn($event)">
                        <option selected value="-1">Select Category</option>
                        <option [value]="c.id" *ngFor="let c of categories; let i = index">{{c.categoryName}}</option>
                    </select>
                </td>
            </tr>  
        </table>
        <table>
            <tr>
                <td>
                    <label for="Description ">Description:</label>
                </td>
                <td>
                    <input type="text" id="Description " name="Description " />
                </td>
                <td>
                    <button (click)="Saveasset($event)">
                        Save Asset
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
<h1>
    Relavant Fields
</h1>
<div class="container">
    <table>
        <tr *ngFor="let f of CatagoryReleventFeildsData; let i = index">
            <td>
                <label [for]="f.name">{{ f.label }}</label>
            </td>
            <td>
                <input [type]="f.type" [name]="f.name" [id]="f.name">
            </td>
        </tr>
    </table>
</div>