    <h1>Add Asset Details</h1>
<div class="container">
    <form>
        <table>
            <tr>
                <td>
                    <label for="assetName">Asset Name:</label>
                </td>
                <td>
                    <input type="text" id="assetName" name="assetName"  required />
                </td>
                <td>
                    <label for="identificationnumber">Identification Number:</label>
                </td>
                <td> <input type="text" id="identificationnumber" name="identificationnumber"
                         required />
                </td>
            </tr>
            <tr>
                <td> <label for="manufacturer">Manufacturer:</label>
                </td>
                <td> <input type="text" id="manufacturer" name="manufacturer"
                        required /></td>
                <td>
                    <label for="model">Model Name:</label>
                </td>
                <td> <input type="text" id="model" name="model" 
                        required />
                </td>
            </tr>
            <tr>
                <td> <label for="merchantnumber">Merchant Name:</label>
                </td>
                <td> <input type="text" id="merchantnumber" name="merchantnumber"
                        required /></td>
                <td>
                    <label for="purchasedate">Purchase Date:</label>
                </td>
                <td> <input type="date" id="purchasedate" name="purchasedate" 
                        required />
                </td>
            </tr>
            <tr>
                <td> <label for="purchaseprice">Purchase Price:</label>
                </td>
                <td> <input type="number" id="purchaseprice" name="purchaseprice"
                         required /></td>
                <td>
                    <label for="assetCategory">Category:</label>
                </td>
                <td> <select id="assetCategory" name="assetCategory" required>
                        <option value="">Select Category</option>
                        <option value="mouse">Mouse</option>
                        <option value="laptop">Laptop</option>
                        <option value="screen">Screen</option>
                        <option value="keyboard">Keyboard</option>
                        <option value="tablets">Tablets</option>

                    </select>
                </td>
            </tr>
        </table>
        </form>
    </div>
