.form-group input,
.form-group select {
  width: calc(100% - 22px);
  padding: 10px;
  border-radius: 5px;
}
.link{
  display: flex;
  justify-content: right;
}
button[type="submit"] {
    // width: 100%;
    padding: 10px;
    background-color:rgb(72, 128, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

.asset-form{
    margin-top: 3.25%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(185, 185, 185, 0.5);
}

.addcolumn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addcolumn i{
  color: rgb(72, 128, 255);
}
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
//   table, th, td {
//     border: 1px solid #ddd;
//   }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  .bottom{
    display: flex;
    justify-content: center;
  }