<h1>Add Asset Details</h1>
<div class="container">
  <form [formGroup]="AssetDTO">
    <table>
      <tr>
        <td>
          <label for="assetName">Asset Name: <span class="error">*</span></label>
        </td>
        <td>
          <input type="text" id="assetName" name="assetName" formControlName="assetName" />
          <span class="error" *ngIf="
              AssetDTO.controls['assetName'].touched &&
              AssetDTO.controls['assetName'].invalid
            ">{{ inputerrormessage.required }}</span>
        </td>
        <td>
          <label for="serialNumber">Serial Number: <span class="error">*</span></label>
        </td>
        <td>
          <input type="text" id="serialNumber" name="serialNumber" formControlName="serialNumber" />
          <span class="error" *ngIf="
              AssetDTO.controls['serialNumber'].touched &&
              AssetDTO.controls['serialNumber'].invalid
            ">{{ inputerrormessage.required }}</span>
        </td>
      </tr>

      <tr>
        <td>
          <label for="AssetIdentificationNumber">Identification Number:</label>
        </td>
        <td>
          <input type="text" id="AssetIdentificationNumber" name="AssetIdentificationNumber"
            formControlName="assetIdentificationNumber" />
        </td>

        <td><label for="Manufacturer">Manufacturer:</label></td>
        <td>
          <input type="text" id="Manufacturer" name="Manufacturer" formControlName="manufacturer" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="Model">Model Name:</label>
        </td>
        <td>
          <input type="text" id="Model" name="Model" formControlName="model" />
        </td>
        <td>
          <label for="Description">Description:</label>
        </td>
        <td>
          <input type="text" id="Description" name="Description" formControlName="description" />
        </td>
      </tr>

      <tr>
        <td>
          <label for="purchasePrice">Purchase Price(Rs): <span class="error">*</span></label>
        </td>
        <td>
          <input type="number" id="purchasePrice" name="purchasePrice" min="1" formControlName="purchasePrice" /><span
            class="error" *ngIf="
              AssetDTO.controls['purchasePrice'].touched &&
              AssetDTO.controls['purchasePrice'].invalid
            ">{{ inputerrormessage.required }}</span>
        </td>

        <td>
          <label for="purchaseDate">Purchase Date: <span class="error">*</span></label>
        </td>
        <td>
          <input type="date" id="purchaseDate" name="purchaseDate" formControlName="purchaseDate" />
          <span class="error" *ngIf="
              AssetDTO.controls['purchaseDate'].touched &&
              AssetDTO.controls['purchaseDate'].invalid
            ">{{ inputerrormessage.required }}</span>
        </td>
      </tr>

      <tr>
        <td>
          <label for="assetCategory">Category: <span class="error">*</span></label>
        </td>
        <td>
          <div class="addcolumn">
            <select id="assetCategory" name="assetCategory" (change)="showcolumn($event)">


              @if (id!=undefined) {
              @for (c of categories; track $index) {
              @if (AssetDTO.controls.assetCategoryData.value == c.id) {
              <option [value]="c.id" selected>{{c.categoryName}}</option>
              }@else if(AssetDTO.controls.assetCategoryData.value=='') {
              <option selected value="-1">Select Asset Type</option>
              }@else {
              <option [value]="c.id">
                {{ c.categoryName }}
              </option>}
              }}@else {
              <option selected value="-1">Select Asset Type</option>
              <option [value]="c.id" *ngFor="let c of categories; ">{{c.categoryName}}</option>
              }

            </select>
            <!-- <i class="fa-solid fa-plus"></i> -->
          </div>
          <span class="error" *ngIf="
              AssetDTO.controls['assetCategoryData'].touched &&
              AssetDTO.controls['assetCategoryData'].invalid
            ">{{ inputerrormessage.required }}</span>
        </td>
        <td>
          <label for="vendor">Vendor: <span class="error">*</span></label>
        </td>
        <td>
          <div class="addcolumn">
            <select id="vendorData" name="vendorData" (change)="setvendor($event)">


              @if(id!=undefined){
              @for (v of vendors; track $index) {
              @if (AssetDTO.controls.vendorData.value == v.id) {
              <option [value]="v.id" selected>{{v.name}}</option>
              }@else if(AssetDTO.controls.vendorData.value=='') {
              <option selected value="-1">Select Asset Type</option>
              }@else {
              <option [value]="v.id">
                {{ v.name }}
              </option>}
              }
              }@else {
              <option selected value="-1">Select Asset Type</option>
              <option [value]="v.id" *ngFor="let v of vendors; ">{{v.name}}</option>
              }
            </select>
            <!-- <i class="fa-solid fa-plus"></i> -->
          </div>
          <span class="error" *ngIf="
              AssetDTO.controls['vendorData'].touched &&
              AssetDTO.controls['vendorData'].invalid
            ">{{ inputerrormessage.required }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <label for="assetType">Asset Type: <span class="error">*</span></label>
        </td>
        <td>

          <div class="addcolumn">
            <select id="assetType" name="assetType" (change)="setAssettype($event)">
              @if (id!=undefined) {
              @for (t of assettype; track $index) {
              @if (AssetDTO.controls.assetTypeData.value == t.id) {
              <option [value]="t.id" selected>{{t.assetTypeName}}</option>
              }@else if(AssetDTO.controls.assetTypeData.value=='') {
              <option selected value="-1">Select Asset Type</option>
              }@else {
              <option [value]="t.id">
                {{ t.assetTypeName }}
              </option>}
              }
              }@else {
              <option selected value="-1">Select Asset Type</option>
              <option [value]="t.id" *ngFor="let t of assettype; ">{{t.assetTypeName}}</option>
              }
            </select>
            <!-- <i class="fa-solid fa-plus"></i> -->
          </div>
          <span class="error" *ngIf="
              AssetDTO.controls['assetTypeData'].touched &&
              AssetDTO.controls['assetTypeData'].invalid
            ">{{ inputerrormessage.required }}</span>
        </td>
        <td>
          <label for="numberofclone">Clones:</label>
        </td>
        <td>
          <input type="number" id="numberofclone" name="numberofclone" min="1" value="1" />
        </td>
      </tr>
    </table>
  </form>
  <div class="link">
    @if (id==undefined) { <button type="submit" (click)="addAsset($event)">Add Asset</button>
      }@else {
      <button type="submit" (click)="Saveasset($event)">Save Asset</button>
      }
  </div>
</div>
<h1 style="margin-top: 15px">Relavant Fields</h1>
<div class="container">
  <table>
    <tr *ngFor="let f of catagoryReleventFeildsData; let i = index">
      <td>
        <label [for]="f.name">{{ f.label }}</label>
      </td>
      <td>
        <input [type]="f.type" [name]="f.name" [id]="f.name" [(ngModel)]="f.value" />
      </td>
    </tr>
  </table>
</div>