.file-upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-upload-button {
  background-color: transparent;
  color: rgba(72, 128, 255, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.custom-upload-button:hover {
  // background-color: #0056b3;
  color: rgba(72, 128, 255, 1);
}

.file-input {
  display: none; /* Hide the actual file input */
}

.preview-image {
  aspect-ratio: 1;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  object-fit: cover;

}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.resetpassword{
  color: rgba(72, 128, 255, 1);
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
form {
  width: 70%;
}
.fields input[type="password"]::placeholder {
  letter-spacing: normal; /* Normal letter spacing */
  background-image: url("/Password.png"); /* Background image for password field */
  background-position: left; /* Position background image to the left */
  background-repeat: no-repeat; /* Do not repeat background image */
  background-size: 75px; /* Size of the background image */
}
.link {
  display: flex;
  justify-content: center;
}
.link button {
  color: white;
  background-color: rgba(72, 128, 255, 1);
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 5px;
}
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,white 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,white);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

/* Link container styling within the form */
form .link {
  display: flex; /* Flex layout */
  flex-direction: column; /* Column layout for links */
  gap: 20px; /* Space between links */
  text-align: center; /* Center text */
  justify-content: space-between; /* Space between button and other elements */
}

/* Button styling within the form */
form .link button {
  background-color: rgba(72, 128, 255, 1); /* Background color for the button */
  color: #ffffff; /* White text color */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside button */
  border: none; /* Remove default border */
  font-size: 1rem; /* Font size for button text */
  cursor: pointer; /* Pointer cursor to indicate clickable button */
  margin-top: 1%;
}
.links .verify {
  background-color: rgba(72, 128, 255, 1); /* Background color for the button */
  color: #ffffff; /* White text color */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside button */
  border: none; /* Remove default border */
  font-size: 1rem; /* Font size for button text */
  cursor: pointer; /* Pointer cursor to indicate clickable button */
  margin-top: 1%;
  display: flex;
  gap: 2px;
}

/* Link styling within the form */
form .link a {
  color: rgba(90, 140, 255, 1); /* Color for links */
  text-decoration: none; /* Remove underline from links */
}

form .link a:hover {
  text-decoration: underline; /* Underline links on hover */
}
/* Error message styling */
.error {
  color: red;
  font-size: 0.8em; /* Slightly smaller font size for error messages */
}

.fields {
  display: flex; /* Flex layout */
  flex-direction: column; /* Column layout for fields */
  gap: 10px; /* Space between fields */
}
.links{
  display: flex;
  justify-content: center;
  gap : 10px
}
.links .cancel{
  color: rgba(72, 128, 255, 1); /* Background color for the button */
  background-color:rgba(72, 128, 255, 0.2); /* White text color */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside button */
  border: none; /* Remove default border */
  font-size: 1rem; /* Font size for button text */
  cursor: pointer; /* Pointer cursor to indicate clickable button */
  margin-top: 1%;
}
.forgettemp{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.alert{
left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}