<h1>Personal Imformation</h1>
<div class="container">
  <div class="file-upload-wrapper">
    <img [src]="imageUrl" alt="Profile Image" class="preview-image">
    <button type="button" class="custom-upload-button" (click)="fileInput.click()">Upload Image</button>
    <input type="file" (change)="onselect($event)" #fileInput class="file-input">
  </div>

  <div class="form">
    <form [formGroup]="Userdata">
      <div class="fields">
        <table>
          <tr>
            <label for="email">Email Address</label>
          </tr>
          <tr>
            <input type="text" value="muhammad.hashimsid@gmail.com" disabled>
          </tr>
          <tr>
            <label for="username">Username</label>
          </tr>
          <tr>
            <input type="text" name="username" id="username" value="Hashim@123">
          </tr>
          <tr>
            <label for="password">Password</label>
          </tr>
          <tr>
            <input type="password" name="password" id="password">
          </tr>
        </table>

      </div>
      <div class="link">
        <button type="button" (click)="Save($event)">Save Organization</button>
      </div>
    </form>
  </div>
</div>



<!-- <div class="row">
    <div class="small-12 medium-2 large-2 columns">
      <div class="circle">
        <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
 
      </div>
      <div class="p-image">
        <i class="fa fa-camera upload-button"></i>
         <input class="file-upload" type="file" accept="image/*"/>
      </div>
   </div>
 </div> -->