<div class="orgInfo" *ngIf="isProfileVisible">
    <div class="profilecard">
        <div class="profile-header">
            <img [src]="currentuser.imagePath ||  ProfileIcon" alt="Organization Icon" class="profile-icon">
            <!-- <p class="org-name">{{orgName}}</p> -->
            <p class="user-name">{{currentuser.userName}}</p>

            <!-- <p class="org-domain">{{orgDomain}}</p> -->
        </div>
        <div class="links">
            <button class="profile-button" routerLink="profile">Personal Profile</button>
            <button class="profile-button" routerLink="updateorganization" >{{orgName}} - Profile</button>
        </div>
        <button class="logout" (click)="logout($event)">
            <i class="fa-solid fa-right-from-bracket"></i> Log Out
        </button>
    </div>

</div>

<div class="Main" (click)="closeProfile($event)">
    <app-sidebar></app-sidebar>
    <div class="dashboard">
        <div class="navbar">
            <div class="navlink">
                <!-- <select name="search" id="search">
            <option value="All">All</option>
            <option value="Asset">Asset</option>
            <option value="User">User</option>
            <option value="Category">Category</option>
        </select> -->
                <img src="menu.svg" alt="horizantal nav">
                <input type="search" name="search" id="search" placeholder="        Search">
            </div>
            <div class="profile" (click)="toggleProfileCard($event)"><img class="profile-pic" [src]="currentuser.imagePath ||  ProfileIcon"
                    alt="Account Icon">{{currentuser.userName}}</div>
        </div>
        <div class="outer">

            <router-outlet />
        </div>

    </div>
</div>